<div class="user-details">
  <form [formGroup]="userForm" (ngSubmit)="submitUser()" class="user-form">
    <div class="form-input">
      <label for="name">Name</label>
      <input
        [ngClass]="{ invalid:  submitted && formControls.name.errors }"
        type="text" id="name"
        formControlName="name"
      >
    </div>
    <div class="form-input">
      <label for="username">Username</label>
      <input
        [ngClass]="{ invalid:  submitted && formControls.username.errors }"
        type="text" id="username"
        formControlName="username">
    </div>
    <div class="form-input">
      <label for="email">Email</label>
      <input
        [ngClass]="{ invalid:  submitted && formControls.email.errors }"
        type="text" id="email"
        formControlName="email">
    </div>
    <div class="form-input">
      <label for="phone">Phone</label>
      <input
        [ngClass]="{ invalid:  submitted && formControls.phone.errors }"
        id="phone"
        formControlName="phone">
    </div>
    <button [ngClass]="{ disabled : !userForm.valid }" type="submit">{{ editedUser ? 'Edit' : 'Create' }} user</button>
  </form>
</div>
